{% extends '@AppBundle/base.html.twig' %}

{% macro table(content, typ) %}

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Bezeichnung</th>
                {% if typ == 1 %}<th>GruppenHinweis</th>{% endif %}
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for stein in content if stein.getHArt() == typ %}
            <tr>
                <td>{{ stein.getHId() }}</td>
                <td>{{ stein.getHName() }}</td>
                {% if typ == 1 %}<td>{{ stein.getHHinweis() }}</td>{% endif %}
                <td><a href="{{ path('shop_bausteine_bearbeiten', {'hid': stein.getHId() }) }}"><i class="fa fa-gear"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{%  block page_content %}
    <div class="row">
        <section class="col-lg-12">
            <div class="box box-primary">
                <div class="box-header ui-sortable-handle">
                    <a href="{{ path('shop_bausteine_bearbeiten', {'hid': 'neu'}) }}" class="btn btn-success"><i class="fa fa-plus"></i> neuen Baustein erstellen</a>
                    <hr>
                </div>
                <div class="box-body">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class=""><a href="#angebote" data-toggle="tab" aria-expanded="false">Angebote</a></li>
                            <li class=""><a href="#voucher" data-toggle="tab" aria-expanded="false">Voucher</a></li>
                            <li class="active"><a href="#hinweis" data-toggle="tab" aria-expanded="false">HinweisTexte</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane" id="angebote">
                                {{ _self.table( bausteine, 1) }}
                            </div>
                            <div class="tab-pane" id="voucher">
                                {{ _self.table( bausteine, 2) }}
                            </div>
                            <div class="tab-pane active" id="hinweis">
                                {{ _self.table( bausteine, 3) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}


